extends layout

block content
  .container
  center
    h1 New Listing
    p.lead welcome to tboard
    form(name="listing-form", id="listing-form", role='form', action="/addItem", method="post", style='max-width: 300px;')
      .form-group
          input(type='text', name='itemName', class='form-control', 
            id='itemName', placeholder='Enter name of listing', 
            required, data-required-msg='Listing name is required')
      .form-group
          select(name='itemType', class='form-control',
            id='itemType')
            option(value="") Select category
            option(value="Item") Item
            option(value="Service") Service
      .form-group
          input(type='text', name='itemDesc', class='form-control', 
            id='itemDesc', placeholder='Enter description', 
            required, data-required-msg='Description is required')
      .form-group
          input(type='text', name='itemPic', class='form-control', 
            id='itemPic', placeholder='Upload...'
            required, data-required-msg='A photo is required')

      button.btn.btn-primary(type='submit') Add &nbsp;
      a(href='/')
        button.btn.btn-default(type="button") Cancel
