doctype html
html
  head
    title= 't.Board'
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='bower_components/kendo-ui/styles/kendo.bootstrap-v4.min.css')
    link(rel='stylesheet', href='bower_components/kendo-ui/styles/kendo.material.min.css')
    link(rel='stylesheet', href='bower_components/kendo-ui/styles/kendo.common-material.min.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css', media='screen')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br

    block content

  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='bower_components/kendo-ui/js/kendo.ui.core.min.js')
  script(src='app/script.js')