extends layout

block content
  //-.container
    p Listing: #{item.itemName}
    p Type: #{item.itemType} 
    p Description: #{item.itemDesc}
  //-img(src="#{item.itemPic}", alt="", height="200px", width="200px")
