extends layout

block content
  .container
  center
    h1 Login Page
    p.lead welcome to tboard
    br
    form(role='form', action="/login", method="post", style='max-width: 350px;')
      .form-group
        input.form-control(type='text', name="username", placeholder='Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-primary(type='submit') Login &nbsp;
      a(href='/')
        button.btn.btn-default(type="button") Cancel