extends layout

block content
  .container
  p Username: #{user.username}
  p Email: #{user.email} 
  p Name: #{user.firstName} #{user.lastName}
  p Gender: #{user.gender}
  p Country: #{user.country}
  p Mobile: #{user.mobile}
  p Company: #{user.company}
  p Company UEN: #{user.uen}

//-#comment
    ID
    username
    password
    first name
    last name OR full name + surname?
    sex
    city
    email
    birthdate
    phone number
    company 
    company id

    company id
    company name
    company logo
    company reg no (UEN) (vendor ID)
    company type
    company phone
    company website
    company address
    company profile (.pdf)
    company email
    company est date(?)
