extends layout

block content
  .container
  center
    h1 Register Page
    p.lead welcome to tboard
    form(name="register-form", id="register-form", role='form', action="/register", method="post", style='max-width: 300px;')
      .form-group
          input(type='text', name='display', class='form-control', 
            id='display', placeholder='Enter company display name', 
            required, data-required-msg='Display name is required')
      .form-group
          input(type='text', name='username', class='form-control', 
            id='username', placeholder='Enter username', 
            required, data-required-msg='Username is required')
      .form-group
          input(type='password', name='password', class='form-control', 
            id='password', placeholder='Enter password'
            required, data-required-msg='Password is required')
      .form-group
          input(type='password', name='confirm-password', class='form-control', 
            id='confirm-password', placeholder='Confirm password'
            required, data-required-msg="Please confirm your password")
      .form-group
          input(type='email', name='email', class='form-control', 
            id='email', placeholder='Enter email',
            required, data-required-msg='Email address is required')    
      .form-group
          input(type='email', name='confirm-email', class='form-control', 
            id='confirm-email', placeholder='Confirm email',
            required, data-required-msg='Please confirm your email address')
      .form-group
          input(type='text', name='firstName', class='form-control', 
            id='firstName', placeholder='Enter your first name', 
            required, data-required-msg='First name is required')
      .form-group
          input(type='text', name='lastName', class='form-control', 
            id='lastName', placeholder='Enter your last name', 
            required, data-required-msg='Last name is required')
      .form-group
          select(name='gender', class='form-control', 
            id='gender')
            option(value="Male") Male
            option(value="Female") Female
      .form-group
          select(name='country', class='form-control',
            id='country')
            script
              include country.js
      .form-group
          input(type='number', name='mobile', class='form-control', 
            id='mobile', placeholder='Enter your mobile number', 
            required, data-required-msg='Mobile number is required')
      .form-group
          input(type='text', name='company', class='form-control', 
            id='company', placeholder='Enter your company name', 
            required, data-required-msg='Company is required')
      .form-group
          input(type='text', name='uen', class='form-control', 
            id='uen', placeholder='Enter your company EUN', 
            required, data-required-msg='UEN is required')

      button.btn.btn-primary(type='submit') Register &nbsp;
      a(href='/')
        button.btn.btn-default(type="button") Cancel
